@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

/* header */

header {
    width: auto;
    background-color: black;
}

header > h1 {
    color: white;
    padding-top: 50px;
    text-align: center;
    font-family: var(--fonte2);
    font-size: 10vw;
    font-variant: small-caps;
}

header > p > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--fonte1);
}

header > p {
    font-family: var(--fonte1);
    color: white;
    text-align: center;
    padding-bottom: 50px;
}

/* main */

.poema {
    font-family: var(--fonte3);
    font-size: 3.5vw;
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

.poema2 {
    background-image: url(imagens/background001.jpg);

    /* 
    Shorthand - background
    color > image > position > repeat > [size] >  attachment
    */

    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding-top: 10vh;
    padding-bottom: 10vh;

}

div.poema2 > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: var(--fonte3);
    font-size: 3.5vw;
    line-height: 2em;
    margin-left: 30px;
    width: 41vw;
    height: auto;
    margin-right: auto;
    padding: 5px;
}

#p1 {
    padding-bottom: 7vw;
}

.poema3 {
    background-image: url(imagens/background002.jpg);

    /* 
    Shorthand - background
    color > image > position > repeat > [size] >  attachment
    */

    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding-top: 10vh;
    padding-bottom: 10vh;

}

div.poema3 > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: var(--fonte3);
    font-size: 3.5vw;
    line-height: 2em;
    margin-left: 30px;
    width: 42vw;
    height: auto;
    margin-right: auto;
    padding: 5px;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    width: auto;
    font-family: var(--fonte1);
    text-align: center;
}