@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #0FC2C0, #0CABA8, #008F8C, #015958, #023535);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(124, 124, 124);
    width: 600px;
    padding: 20px;
    margin: auto;
}

h1 {
    color: orangered;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

h2 {
    color: orange;
}

p {
    text-align: justify;
}