@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

header {
  min-width: 700px;
  background-image: linear-gradient(to bottom, #3dda84, #1a5c38);
  width: auto;
  height: 250px;
  box-shadow: 0px 1px 20px 1px black;
  position: relative;
  z-index: 10;
}

main{
  margin: 0;
  min-width: 700px;
  max-width: auto;
  background-color: #84e1ad;
  width: auto;
  height: auto;
  padding-bottom:  30px;
}

/* header */
#titulo {
  text-shadow: 2px 2px 4px black;
  padding-top: 25px;
  font-weight: 400;
  font-family: 'Oswald';
  text-align: center;
  font-size: 32pt;
  color: white;
}

#subtitulo {
  text-shadow: 2px 2px 4px black;
  padding-top: 30px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 16pt;
  color: white;
}

#menu {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-right: 30px;
  text-decoration: none;
  font-size: 14pt;
  font-weight: 500;
}

#menunav {
  padding-top: 50px;
  margin-top: 30;
  margin-left: 30px;
}

/* main */

#video {

  height: 400px;
  width: 60vw;
  display: block;
  margin: 0 auto;
  align-items: center;
  border-color: #1a5c38;
  border-style: solid;
  border-top-width: 30px;
  border-bottom-width: 30px;

}

img {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

#folha {
  min-width: 700px;
  max-width: 1335px;
  align-self: center;
  background-color: white;
  width: 60vw; /* largura */
  height: auto; /* altura */
  margin: auto;
  box-shadow: 0px 0px 15px 5px black;
  border-radius: 0px 0px 15px 15px;
}

#versao {
  font-family: 'Idroid';
  color: #1f603c;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
}

#versao2 {
  text-indent: 5px;
  font-family: 'Idroid';
  color: #1f603c;
  padding-left: 20px;
  padding-bottom: 20px;
  background-image: linear-gradient(to right, #c5ebd5, white);
  background-clip: content-box;
}

#texto {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  text-indent: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

#textocaixa {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  text-indent: 30px;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

#referencia {
  color: #2c744d;
  text-decoration: none;
  font-weight: bold;
}

#subtitulofolha {
    height: 30px;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14pt;
    color: white;
    text-align: justify;
    background-color: #2fa866;
    padding-top: 15px;
    padding-bottom: 5px;
    text-indent: 15px;
    border-radius: 15px 15px 0px 0px; 
}

#caixa{
  height: 450px;
  min-height: 450px;
  min-width: 700px;
  width: auto;
  background-color: #c5ebd6;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 4px 4px 20px 0px black;
}

#lista {
  height: 140px;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 30px;
  margin-top: 15px;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  gap: 200px;
}

li {
  height: 20px;
  width: 250px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li::before {
  content: "\2714"; /* Código para ✔ */
  color: #000000;
  margin-right: 5px;
}

/* footer */

footer {
  height: 50px;
  width: auto;
  background-color: #1a5c38;
  display: flex;
  justify-content: center;
  align-items: center;

}

#textorodape {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}