@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

header {
  background-image: linear-gradient(to bottom, #3dda84, #1a5c38);
  width: auto;
  height: 250px;
  box-shadow: 0px 1px 20px 1px black;
  position: relative;
  z-index: 10;
}

main{
  background-color: #84e1ad;
  width: auto;
  height: 1200px;
}

/* header */
#titulo {
  text-shadow: 2px 2px 4px black;
  padding-top: 25px;
  font-weight: 400;
  font-family: 'Oswald';
  text-align: center;
  font-size: 32pt;
  color: white;
}

#subtitulo {
  text-shadow: 2px 2px 4px black;
  padding-top: 30px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 16pt;
  color: white;
}

#menu {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-right: 30px;
  text-decoration: none;
  font-size: 14pt;
  font-weight: 500;
}

#menunav {
  padding-top: 50px;
  margin-top: 30;
  margin-left: 30px;
}

/* main */

#folha {
  align-self: center;
  background-color: white;
  width: 70vw; /* largura */
  height: 1200px; /* altura */
  margin-left: 15vw;
  margin-right: 15vw;
  box-shadow: 1px 10px 15px 5px black;
}

#versao {
  font-family: 'Bruno Ace';
  color: #1f603c;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
}

#versao2 {
  text-indent: 5px;
  font-family: 'Bruno Ace';
  color: #1f603c;
  padding-left: 20px;
  padding-bottom: 20px;
  background-image: linear-gradient(to right, #c5ebd5, white);
  background-clip: content-box;
}

#texto {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  text-indent: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

#referencia {
  color: green;
  text-decoration: none;
}