@charset "UTF-8";

body {
            background-color: lightblue;
            font-family: 'Lucida Sans';
        }

        h1 {
            color: darkblue;
            background-color: lightblue;
        }

        h2 {
            color: darkred;
        }

        p {
            text-align: justify;
        }