@charset "UTF-8";

/* 

em HTML id = em CSS #
em HTML class = em CSS .

id é unico
class pode ser multiplo

*/

body {
    background-color: #757A66;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #B4CF67;
}

h1#First {
    text-align: center;
    color: yellow;
}

h2 {
    color: #CDFA53;
}

.basico {
    color: #A9B13A;
    text-align: center;
}

.intermediario {
    color: #D2DB48;
    text-align: center;
}

.avancado {
    color: #888F2F;
    text-align: center;
}
